{% spaceless %}
    {# global variables #}
        {# Value must be one of [spaceship, classic] #}
        {% set global_header_layout = global_header_layout|default('spaceship') %}

        {# If global_header_layout == spaceship, value must be one of 'style.header-spaceship-variant-[one, two, three].css' #}
        {# If global_header_layout == classic,   value must be one of 'style.header-classic-variant-[one, two, three, four, five].css' #}
        {% set global_header_style = global_header_style|default('style.header-spaceship-variant-one.css') %}

        {# Value must be one of 'style.mobile-header-variant-[one, two].css' #}
        {% set global_mobile_header_style = global_mobile_header_style|default('style.mobile-header-variant-one.css') %}
    {# global variables / end #}
{% endspaceless %}<!DOCTYPE html>
<html lang="en" dir="{{ direction|default('ltr') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    {% if global_page_description %}
        <meta name="description" content="{{ global_page_description|escape('html_attr') }}">
    {% endif %}
    <title>{{ global_page_title }}</title>
    <link rel="icon" type="image/png" href="images/favicon.png">

    <!-- fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i">

    <!-- css -->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="vendor/photoswipe/photoswipe.css">
    <link rel="stylesheet" href="vendor/photoswipe/default-skin/default-skin.css">
    <link rel="stylesheet" href="vendor/select2/css/select2.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/{{ global_header_style }}" media="(min-width: 1200px)">
    <link rel="stylesheet" href="css/{{ global_mobile_header_style }}" media="(max-width: 1199px)">

    <!-- font - fontawesome -->
    <link rel="stylesheet" href="vendor/fontawesome/css/all.min.css">

    {{ analytics|default('') }}
</head>
<body>

<!-- site -->
<div class="site">
    <!-- site__mobile-header -->
    <header class="site__mobile-header">
        {% include '/mobile/mobile-header.twig' %}
    </header>
    <!-- site__mobile-header / end -->

    <!-- site__header -->
    <header class="site__header">
        {% include '/header/header.twig' %}
    </header>
    <!-- site__header / end -->

    <!-- site__body -->
    <div class="site__body">
        {% block site_body %}{% endblock %}
    </div>
    <!-- site__body / end -->

    <!-- site__footer -->
    <footer class="site__footer">
        {% include '/footer/footer.twig' %}
    </footer>
    <!-- site__footer / end -->
</div>
<!-- site / end -->

<!-- mobile-menu -->
{% include '/mobile/mobile-menu.twig' %}
<!-- mobile-menu / end -->

<!-- quickview-modal -->
<div id="quickview-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<!-- quickview-modal / end -->

<!-- add-vehicle-modal -->
{% include '/components/add-vehicle-modal.twig' %}
<!-- add-vehicle-modal / end -->

<!-- vehicle-picker-modal -->
{% include '/components/vehicle-picker-modal.twig' %}
<!-- vehicle-picker-modal / end -->

<!-- photoswipe -->
{% include '/components/photoswipe.twig' %}
<!-- photoswipe / end -->

<!-- scripts -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/owl-carousel/owl.carousel.min.js"></script>
<script src="vendor/nouislider/nouislider.min.js"></script>
<script src="vendor/photoswipe/photoswipe.min.js"></script>
<script src="vendor/photoswipe/photoswipe-ui-default.min.js"></script>
<script src="vendor/select2/js/select2.min.js"></script>

<script src="js/number.js"></script>
<script src="js/main.js"></script>

</body>
</html>
