{#
// inputs:
#}

<div class="site-footer__widget footer-newsletter">
    <h5 class="footer-newsletter__title">Newsletter</h5>
    <div class="footer-newsletter__text">
        Enter your email address below to subscribe to our newsletter and keep up to date with discounts and special offers.
    </div>

    <form action="" class="footer-newsletter__form">
        <label class="sr-only" for="footer-newsletter-address">Email Address</label>
        <input type="text" class="footer-newsletter__form-input" id="footer-newsletter-address" placeholder="Email Address...">

        <button class="footer-newsletter__form-button">Subscribe</button>
    </form>

    <div class="footer-newsletter__text footer-newsletter__text--social">
        Follow us on social networks
    </div>

    <div class="footer-newsletter__social-links social-links">
        <ul class="social-links__list">
            <li class="social-links__item social-links__item--facebook"><a href="{{ theme.author.profile_url }}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li class="social-links__item social-links__item--twitter"><a href="{{ theme.author.profile_url }}" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li class="social-links__item social-links__item--youtube"><a href="{{ theme.author.profile_url }}" target="_blank"><i class="fab fa-youtube"></i></a></li>
            <li class="social-links__item social-links__item--instagram"><a href="{{ theme.author.profile_url }}" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li class="social-links__item social-links__item--rss"><a href="{{ theme.author.profile_url }}" target="_blank"><i class="fas fa-rss"></i></a></li>
        </ul>
    </div>
</div>
