{% set global_page_title = 'Order Success — Red Parts' %}
{% set global_page_description = '' %}

{% extends '/layouts/default.twig' %}

{% set order = data('order.json') %}

{% block site_body %}
    {% include '/blocks/block-space.twig' with {inputs: {layout: 'spaceship-ledge-height'}} %}

    <div class="block order-success">
        <div class="container">
            <div class="order-success__body">
                <div class="order-success__header">
                    <div class="order-success__icon">
                        {{ svg('check-100.svg') }}
                    </div>
                    <h1 class="order-success__title">Thank you</h1>
                    <div class="order-success__subtitle">Your order has been received</div>
                    <div class="order-success__actions">
                        <a href="/" class="btn btn-sm btn-secondary">Go To Homepage</a>
                    </div>
                </div>

                <div class="card order-success__meta">
                    <ul class="order-success__meta-list">
                        <li class="order-success__meta-item">
                            <span class="order-success__meta-title">Order number:</span>
                            <span class="order-success__meta-value">#{{ order.number }}</span>
                        </li>
                        <li class="order-success__meta-item">
                            <span class="order-success__meta-title">Created At:</span>
                            <span class="order-success__meta-value">{{ order.createdAt }}</span>
                        </li>
                        <li class="order-success__meta-item">
                            <span class="order-success__meta-title">Total:</span>
                            <span class="order-success__meta-value">{{ order.total|currency }}</span>
                        </li>
                        <li class="order-success__meta-item">
                            <span class="order-success__meta-title">Payment Method:</span>
                            <span class="order-success__meta-value">{{ order.payment }}</span>
                        </li>
                    </ul>
                </div>

                <div class="card">
                    <div class="order-list">
                        <table>
                            <thead class="order-list__header">
                            <tr>
                                <th class="order-list__column-label" colspan="2">Product</th>
                                <th class="order-list__column-quantity">Quantity</th>
                                <th class="order-list__column-total">Total</th>
                            </tr>
                            </thead>
                            <tbody class="order-list__products">
                            {% for item in order.items %}
                                <tr>
                                    <td class="order-list__column-image">
                                        <div class="image image--type--product">
                                            <a href="product-full.html" class="image__body">
                                                <img class="image__tag" src="{{ image(item.product.images[0], {size: 40}) }}" alt="">
                                            </a>
                                        </div>
                                    </td>
                                    <td class="order-list__column-product">
                                        <a href="product-full.html">{{ item.product.name }}</a>
                                        {% if item.options|length > 0 %}
                                            <div class="order-list__options">
                                                <ul class="order-list__options-list">
                                                    {% for option in item.options %}
                                                        <li  class="order-list__options-item">
                                                            <span class="order-list__options-label">
                                                                {{ option.name }}:
                                                            </span>
                                                            <span class="order-list__options-value">
                                                                {{ option.value }}
                                                            </span>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td class="order-list__column-quantity" data-title="Quantity:">
                                        {{ item.quantity }}
                                    </td>
                                    <td class="order-list__column-total">
                                        {{ (item.price * item.quantity)|currency }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            {% if order.totals|length > 0 %}
                                <tbody class="order-list__subtotals">
                                <tr>
                                    <th class="order-list__column-label" colspan="3">Subtotal</th>
                                    <td class="order-list__column-total">{{ order.subtotal|currency }}</td>
                                </tr>
                                {% for total in order.totals %}
                                    <tr>
                                        <th class="order-list__column-label" colspan="3">{{ total.title }}</th>
                                        <td class="order-list__column-total">{{ total.price|currency }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            {% endif %}
                            <tfoot class="order-list__footer">
                            <tr>
                                <th class="order-list__column-label" colspan="3">Total</th>
                                <td class="order-list__column-total">{{ order.total|currency }}</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="order-success__addresses">
                    <div class="order-success__address card address-card">
                        <div  class="address-card__badge tag-badge tag-badge--theme">
                            Shipping Address
                        </div>
                        <div class="address-card__body">
                            <div class="address-card__name">Ryan Ford</div>
                            <div class="address-card__row">
                                Random Federation<br>
                                115302, Moscow<br>
                                ul. Varshavskaya, 15-2-178
                            </div>
                            <div class="address-card__row">
                                <div class="address-card__row-title">Phone Number</div>
                                <div class="address-card__row-content">38 972 588-42-36</div>
                            </div>
                            <div class="address-card__row">
                                <div class="address-card__row-title">Email Address</div>
                                <div class="address-card__row-content">stroyka@example.com</div>
                            </div>
                        </div>
                    </div>
                    <div class="order-success__address card address-card">
                        <div  class="address-card__badge tag-badge tag-badge--theme">
                            Billing Address
                        </div>
                        <div class="address-card__body">
                            <div class="address-card__name">Ryan Ford</div>
                            <div class="address-card__row">
                                Random Federation<br>
                                115302, Moscow<br>
                                ul. Varshavskaya, 15-2-178
                            </div>
                            <div class="address-card__row">
                                <div class="address-card__row-title">Phone Number</div>
                                <div class="address-card__row-content">38 972 588-42-36</div>
                            </div>
                            <div class="address-card__row">
                                <div class="address-card__row-title">Email Address</div>
                                <div class="address-card__row-content">stroyka@example.com</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include '/blocks/block-space.twig' with {inputs: {layout: 'before-footer'}} %}
{% endblock %}
